<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do list</title>
  </head>
  <body>
    <% if (kindofDay==="Sunday"||kindofDay==="Saturday"){%>
      <h1 style="color:purple">Its <%=kindofDay%></h1>
    <%}else{%>
      <h1 style="color:blue">Its <%=kindofDay%></h1>
    <%}%>


  </body>
</html>
